.App{
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  ),
  url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-position: center;
  background-size: cover;
}
form{
  height: 80vh;
  background-color: aliceblue;
  padding:60px;
  border-radius: 20px;
  overflow: hidden;
}
h1{
  text-align: center;
  margin-bottom: 20px;
  color: rebeccapurple;
}
.submit{
  text-align: center;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  color: aliceblue;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 3px;
}
.login{
  text-align: center;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: plum;
  font-weight: lighter;
  font-style: normal;
  font-size: 17px;
  color: aliceblue;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 3px;
}
span{
  font-size: 12px;
  display: none;
  color: red;
  font-weight: lighter;
}

input:invalid[focused = "true"]{
  border: 1px solid red;
}

input:invalid[focused = "true"] ~ span{
  display: block;
}